/*fonts */
h1{
	font-family: "BPG Nino Mtavruli", sans-serif;;
}

p{
	font-family: "BPG Nino Mkhedruli Book";
}

a{
font-family: "BPG Nino Mtavruli", sans-serif;
}

h4{
font-family: "BPG Nino Mtavruli", sans-serif;
}



.container{
	width: 960px;
	margin: 0 auto;
}

.board{
	width:960px;
	margin:0 auto;
}

/* header */
header{
	padding: 20px 0;
}

header .container {
     padding: 0px;
}

.justify-content{
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.logo a{
	font-size:30px;
	width: 85px;
}
a{
	color:#949494;
}
.logo:hover{
	color:#46A8D4;
	text-decoration: none;
}

.nav{
	vertical-align: center;
}

.nav ul{
	display: flex;
}

.nav li{
	margin-left: 50px;
}

.nav a{
	color:#949494;
	font-size:16px; 
}
.nav a:hover{
	color:#46A8D4;
	text-decoration: none;
}

form{
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    transition: all 1s;
    width: 32px;
    height: 32px;
    background: white;
    box-sizing: border-box;
    border-radius: 25px;
    border: 2px solid #949494;
    padding: 5px;
}

header input{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;;
    height: 22.5px;
    line-height: 30px;
    outline: 0;
    border: 0;
    display: none;
    font-size: 1em;
    border-radius: 20px;
    padding: 0 20px;
}

.fa{
    box-sizing: border-box;
    padding: 5px;
    width: 27px;
    height: 27px;
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 50%;
    color: #949494;
    text-align: center;
    font-size: 1.2em;
    transition: all 1s;
}

form:hover{
    width: 200px;
    cursor: pointer;
}

form:hover input{
    display: block;
}

form:hover .fa{
    background: #46A8D4;
    color: white;
}



/*burger*/
header label{
	display: none;
	width: 50px;
	height: 50px;
	padding: 30px;
	border-left: 2px solid #B8EDF8;
	float: right;
}
header label:hover{
	cursor: pointer;
	background:#46A8D4 ;
}
input.checkbox{
	display: none;
}

/*banner*/
.carousel-item{
	padding:0;
	background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
}

.carousel-indicators li{
	width:10px;
	height: 10px;
	border-radius: 50%;
}

   

.banner img{
	width:100%;
}
.banner {
	position: relative;
	text-align: center;
	color: white;
}
.banner-text {
	width: 80%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
h4{
	color:#46A8D4;
	
}

input[type=submit]{
	background-color: #FFFFFF;
	height: 30px;
	width: 120px;
	color: #7EC4CE;
	border: 1px solid #949494;
	border-radius: 25px;
	top:6px;
}
input[type=submit]:hover{
	color: #46A8D4;
}

/* globus*/

.categories-slider {	
	width: 75%;
    margin: auto;
    margin-top: 50px;
}

.categories-slider .category-item {	
    margin: 0 10px;
}

.slick-prev:before, .slick-next:before {
   color:#46A8D4;
}
.slick-prev:before, .slick-next:before{
	background-color: white;
}
.category-item img{
	width:70px;
}
.category-item a{
	font-size: 15px;
    color:#46A8D4;
    text-decoration: none;
    vertical-align: center;
}

.Globus{
	width: 820px;
	margin: auto;
	margin-top: 10px;
}
.section{
	margin-top: 30px;
	width:80px;

}
.section img{
	width:70px;
}
.section a{
    font-size: 15px;
    color:#46A8D4;
}
.section a:hover{
	text-decoration: none;
}

.title{
	width: 960px;
	margin:0 auto;
	margin-top: 70px;
}
.title h1{
	margin-top:50px;
	margin-bottom:30px;
	font-size: 30px;
}

/* container*/
.Container{
	margin:0 auto;
	width: 960px;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.Box {
    display:inline-block;
    height: 370px;
    box-sizing: border-box;
    flex: 0 300px;
    margin-top: 10px;
    position:relative;

    
}

.Box .frame{
	border: 0.5px solid #949494;
	border-top: none;
	margin-top: 15px;
	height: 165px;
}
.img-wrapper{
	padding:0;
	background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

/*star*/

.rate {
    float :right;
    height: 20px;
    padding: 0 35px;
    padding-bottom: 5px;
}
.rate:not(:checked) > input {
    position:absolute;
    top:-9999px;
}
.rate:not(:checked) > label {
    float:right;
    width:1em;
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
    font-size:20px;
    color:#ccc;
}
.rate:not(:checked) > label:before {
    content: '★ ';
}
.rate > input:checked ~ label {
    color: #ffc700;    
}
.rate:not(:checked) > label:hover,
.rate:not(:checked) > label:hover ~ label {
    color: #deb217;  
}
.rate > input:checked + label:hover,
.rate > input:checked + label:hover ~ label,
.rate > input:checked ~ label:hover,
.rate > input:checked ~ label:hover ~ label,
.rate > label:hover ~ input:checked ~ label {
    color: #c59b08;
}



/*like*/

.Box img{
	width: 100%;
	
}

.square{
	width: 36px;
	height: 30px;
	background-color:white;
	overflow:hidden;
	margin-left: 265px;
	position:absolute;
	top:160px;
	background:none;
	

}

.sircle{
	height: 72px;
	width: 72px;
	border-radius: 50%;
	background-color: #46A8D4;
	position: relative;


}

.like img{
	background-color: #46A8D4;
	width:15px;
	position:absolute;
	left:16px;
	top:10px;
	
}

img .heart{
	color:white;
}
.Box a{
	margin-left: 20px;
}
.Box h4{

	color: #517089;
	margin-left: 20px;

}


.Box p{
display: inline-block;
color:#46A8D4;
width: 280px;
margin-left: 20px;
}
.frame a:hover{
	color:#46A8D4;
	text-decoration: none;
}



/* footer */

.container .fb{
	width:30px;
	margin-left: 20px;
}
.container .instagram{
	width:30px;
}

footer a{
	color:#46A8D4;
}

footer   img {
    transition: transform .2s;
}
 footer img:hover{
  -ms-transform: scale(1.5);
  -webkit-transform: scale(1.5);
  transform: scale(1.15);
}


/*responsive*/
@media only screen and (min-width: 1200px){
	.container, .Container, .board{
		width:1200px;
	}

	.Globus{
		width:1000px;
	}
}
@media only screen and (max-width: 768px){
	header{
		padding-right: 0px;
	}
	header label{
		display: block;
	}
	nav {
		position: absolute;
		background: #B8EDF8;
		width: 100px;
		margin-left: -100%;
		transition: all 0.5s;
	}
	nav ul {
		flex-direction: column;
	}
	nav li{
		line-height: 50px;
		border-top: 1px solid #ffffff;
	}
	nav li a:hover{
		color: #ffffff;
	}
	input[type="checkbox"]:checked ~ nav {
		margin: 0;
		right: 0%;
		z-index: 1;
	}

	.container{
		width:620px;
		margin:0 auto;
	}
	.Container, .board{
		width:620px;
		margin:0 auto;
	}

	.lastChild{
		display:none;
	}
	.Globus{
	width: 485px;
	margin: auto;
	margin-top: 10px;
    }
    .Container h1{
    	font-size: 20px;
    }
}

    @media only screen and (max-width: 576px){
    .container{
		width:300px;
		margin:0 auto;
	}
	.Container, .board{
		width:300px;
		margin:0 auto;
	}
	.lastChild{
		display:none;
	}
	.banner-text h1{
		font-size: 15px;

	}
	.banner-text input[type=submit]{
		width:100px;

	}

/*	.Globus{
	width: 180px;
	margin: auto;
	margin-top: 10px;
    }*/
    h1{
    	font-size: 20px;
    }
    .banner-text p{
    	display: none;
    }
    .Globus{
    	display: none;
    }
    }

   

